{
    "presets":
    [
        [
            "@babel/preset-react",
            {
            }
        ],
        [
            "minify",
            {
            }
        ]
    ],
    "comments": false
}
