/* Placeholder stylings.*/

body
{
    background-color: rgb(255, 255, 255);
    color: dimgray;
    text-align: center;
    padding-top: 25px;
}

.WeatherApp
{
    display: inline-block;
    width: 682px;
}

.WeatherApp .title
{
    text-align: left;
}

.WeatherCard
{
    display: inline-block;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(249, 249, 247);
    margin: 3px;
    border-radius: 2px;
    text-align: center;
    font-size: 80%;
    box-shadow: 0px 6px 4px -3px #00000023;
    position: relative;
}

.WeatherCard:first-child
{
    margin-left: 0;
}

.WeatherCard:last-child
{
    margin-right: 0;
}

.WeatherSymbol img
{
    width: 40px;
    height: 40px;
}
