/* Placeholder stylings.*/

body
{
    background-color: rgb(255, 255, 255);
    color: dimgray;
    text-align: center;
    padding-top: 25px;
}

.WeatherCardDisplay
{
    padding-top: 200px;
}

.WeatherCard
{
    display: inline-block;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(249, 249, 247);
    margin: 3px;
    border-radius: 2px;
    text-align: center;
    font-size: 80%;
    box-shadow: 0px 6px 4px -3px #00000023;
    position: relative;
}

.WeatherApp #title
{
    /* Temporary style hack to manually align elements for mocking.*/
    position: relative;
    right: 185px;
}

.WeatherApp #temperature-scale-selector
{
    /* Temporary style hack to manually align elements for mocking.*/
    position: relative;
    right: 185px;
}

#city-selector
{
    display: inline-block;
}

#temperature-scale-selector
{
    display: inline-block;
}

.weather-symbol img
{
    width: 40px;
    height: 40px;
}
